{
  "extends": ["next/core-web-vitals", "plugin:sort/recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "plugins": ["import", "simple-import-sort", "sort", "unused-imports"],
  "rules": {
    "jsx-a11y/alt-text": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "off",
    "sort/destructuring-properties": "error",
    "sort/exports": "error",
    "sort/export-members": "error",
    "sort/imports": "off",
    "sort/import-members": "error",
    "sort/object-properties": "error",
    "sort/type-properties": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.types.ts"],
      "rules": {
        "unused-imports/no-unused-vars": "off"
      }
    }
  ]
}
