.button {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid rgb(var(--white-color));
  border-radius: 1rem;
  transition: transform var(--transition-duration),
    background-color var(--transition-duration);
  will-change: transform, background-color;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      transform: scale(1.05);
      background-color: rgb(var(--interface-color));
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
