.navigationBar {
  width: 100%;
  height: 6rem;
  background-color: rgba(var(--interface-color), 0.5);

  .content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .link {
      transition: transform var(--transition-duration);
      will-change: transform;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &.aboutMe {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          border: 2px solid rgb(var(--white-color));
          background-color: rgb(var(--white-color));
          border-radius: 50%;
        }
      }

      &.technologies,
      &.companies,
      &.contactMe,
      &.downloadCV {
        padding: 0.5rem 1rem;

        &:hover,
        &:focus {
          background-color: rgb(var(--interface-color));
          border-radius: 1rem;
        }
      }

      &.downloadCV {
        border: 2px solid rgb(var(--white-color));
        border-radius: 1rem;
      }
    }

    .name {
      flex: 1;
    }
  }
}
