.typography {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  color: rgb(var(--white-color));

  &.t1 {
    font-size: 2.75rem;
    line-height: 1.07;
  }

  &.t2 {
    font-size: 2rem;
    line-height: 1.14;
  }

  &.t3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }

  &.t4 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  &.t5 {
    font-size: 1rem;
    line-height: 1.25;
  }

  &.t6 {
    font-size: 0.75rem;
    line-height: 1.67;
  }
}
