* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey-color: 32, 35, 40;
  --primary-color: 102, 51, 153;
  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  --transition-duration: 0.16s;
  --transition-timing-function: ease-out;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(var(--dark-grey-color));
  -webkit-font-smoothing: antialiased;
}
