* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: 32, 35, 40;
  --interface-color: 102, 51, 153;
  --font-color: 255, 255, 255;
  --white-color: 255, 255, 255;
  --transition-duration: 0.16s;
  --transition-timing-function: ease-out;
  --scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(var(--background-color));
  -webkit-font-smoothing: antialiased;
}
