.footer {
  border-top: 1px solid white;
  background-color: rebeccapurple;

  .container {
    padding: 48px 32px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;

    @media (max-width: 768px) {
      grid-template-columns: 70% 30%;
    }

    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }

    /* <==== INFORMATION ====> */
    .information {
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: space-between;

      @media (max-width: 768px) {
        padding-bottom: 1rem;
        grid-column: 1 / 3;
        border-bottom: 1px solid white;
      }

      @media (max-width: 576px) {
        grid-column: unset;
      }

      .title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: white;
      }

      .description {
        color: white;
      }
    }

    /* <==== SOCIAL LINKS ====> */
    .socialLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
      }

      @media (max-width: 576px) {
        border-bottom: 1px solid white;
      }

      .title {
        font-size: 1.5rem;
        color: white;
      }

      .links {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px) {
          align-items: center;
          justify-content: center;
        }

        @media (max-width: 576px) {
          justify-content: flex-end;
        }

        div {
          .image {
            cursor: pointer;
            width: 2.3rem;
            object-fit: contain;
            padding: 0rem 1rem;
            filter: grayscale(1);
            transition: 0.2s;

            @media (max-width: 576px) {
              width: 2.1rem;
              padding: 0 0.5rem;
            }

            &:hover {
              filter: none;
              transform: scale(1.05);
            }

            &:active {
              transform: scale(0.95);
            }
          }

          &:last-child > .image {
            @media (max-width: 576px) {
              padding: 0 0 0 0.5rem;
            }
          }
        }
      }
    }

    /* <==== LOCATION ====> */
    .location {
      text-align: right;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        padding-top: 1rem;
      }

      @media (max-width: 576px) {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }

      .section {
        display: flex;
        flex-direction: column;

        .title {
          padding-bottom: 1rem;
          font-size: 1.5rem;
          color: white;

          @media (max-width: 768px) {
            padding-bottom: 0;
          }

          @media (max-width: 576px) {
            padding-bottom: 0;
          }
        }

        .description {
          color: white;
        }
      }

      .version {
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        @media (max-width: 768px) {
          padding-top: 1rem;
        }
      }
    }
  }
}
