.aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .image {
    width: 14rem;
    height: 14rem;
    border: 2px solid rgb(var(--white-color));
    border-radius: 50%;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 18rem;
      height: 18rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .description {
      background-color: rgba(var(--black-color), 0.4);
      text-align: center;
      padding: 1rem;
      border: 2px solid transparent;
      border-radius: 1rem;
    }
  }
}
