/* <==== NAVIGATION BAR ====> */
// THIS WILL BE REUSED IN THE MOBILE AND DESKTOP VERSION
@mixin item {
  cursor: pointer;
  margin: 0px 1rem;
  color: white;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  &:hover {
    transform: scale(1.05);
    background-color: rebeccapurple;
  }

  &:active {
    transform: scale(0.95);
    opacity: 0.7;
  }

  &.button {
    font-weight: bold;
    border: 2px solid white;

    &:hover {
      border-color: rgba(255, 255, 255, 0.6);
    }
  }
}

/* <==== NAVIGATION BAR ====> */
.navigationBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 1;
  background-color: rgba(102, 51, 153, 0.5);
  transition: 0.3s;

  @media (max-width: 768px) {
    &.open {
      background-color: rgba(102, 51, 153, 0.9);
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
    }

    .submenu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 16px 32px;
      border-top: 2px solid rgba(255, 255, 255, 0.2);

      .item {
        @include item;
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 0;
      }
    }
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* <==== PROFILE ====> */
    .profile {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      /* <==== IMAGE ====> */
      .image {
        cursor: pointer;
        width: 52px;
        object-fit: contain;
        border: 2px solid white;
        border-radius: 50%;
        transition: 0.2s;

        @media (max-width: 768px) {
          width: 48px;
        }

        @media (max-width: 576px) {
          width: 38px;
        }

        &:hover {
          transform: scale(1.05);
          border-color: rgba(255, 255, 255, 0.6);
        }

        &:active {
          transform: scale(0.95);
          opacity: 0.7;
        }
      }

      /* <==== NAME ====> */
      .name {
        color: white;
        margin-left: 1.1rem;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    /* <==== LINKS ====> */
    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 768px) {
        display: none;
      }

      .item {
        @include item;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    /* <==== MOBILE TOOGLER ====> */
    .mobileToogler {
      display: none;

      @media (max-width: 768px) {
        display: unset;

        .button {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          cursor: pointer;

          .bars {
            color: white;
            width: 1.1rem;
            transition: 0.2s;

            &:hover {
              transform: scale(1.05);
              color: rgba(255, 255, 255, 0.6);
            }

            &:active {
              transform: scale(0.95);
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
